body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin-top: 175px; /* Changed padding-top to margin-top */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 80px 0;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1, h2, h3 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background: #e8491d;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background: #333;
}
.top-bar {
    background: #000000;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%; /* Changed from 100% to 1440px */
    height: 20%; /* Added height */
    top: 0;
    z-index: 1000;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    margin: 0;
    font-size: 24px;
}

.top-bar nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.top-bar nav a:hover {
    text-decoration: underline;
}

body {
    padding-top: 60px; /* Adjust this value if needed */
}