body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    padding-top: 90px; /* Accommodate the fixed navbar */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.logo img {
    height: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    position: relative;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero h1, .hero p {
    position: relative;
    z-index: 1;
}

section {
    padding: 60px 20px;
    margin-top: 725px; /* Adjust this value to create space below the hero image */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Top navigation bar */
.top-bar {
    background: #000;
    color: #fff;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    font-size: 20px;
    margin: 0;
}

.top-bar nav {
    display: flex;
}

.top-bar nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    transition: color 0.3s;
}

.top-bar nav a:hover {
    color: #4a5a9967;
}

/* About section styles */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.about-content {
    flex: 1;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}