<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band Website Navigation</title>
    <link rel="stylesheet" href="../assets/css/navbar_styles.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../pages/index.html">Home</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/contact.html">Contact</a></li>
        </ul>
    </nav>
</body>
</html>